.forgotpw {
	.forgotpw-right {
		padding-top: 28rem;

		form {
			input {
				margin-bottom: 4rem;
			}

			a {
				font-size: 1.8rem;
				text-align: center;
				font-weight: bold;
				margin-top: 4rem;
			}
		}
	}
}
