.forgotpw {
	.forgotpw-right .display {
		form {
			p {
				font-size: 2rem;
				margin: 0;
			}

			input {
				margin-bottom: 4rem;
			}

			a {
				font-size: 1.8rem;
				text-align: center;
				font-weight: bold;
				margin-top: 4rem;
			}
		}
	}
}
